


  <footer class="grid-foot">
    <div class="footer1">
      <h4><span class="logo-read">Read</span><span class="logo-boot-dark">Boot</span> <span class="decrease">Reading System</span></h4>
      <p>at read boot our goal is to help students get their foot in the door of an education so they can get a leg up in the world </p>
    </div>
    <div class="footer1">
      <ul>
        <li> <a href="#">1</a> </li>
        <li> <a href="#">2</a> </li>
        <li> <a href="#">3</a> </li>
      </ul>
    </div>
    <div class="footer1">
      <ul>
        <li> <a href="#">1</a> </li>
        <li> <a href="#">2</a> </li>
        <li> <a href="#">3</a> </li>
      </ul>
    </div>
  </footer>

</body>
</html>
