<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/v-fonts.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>

  <nav class="top-bar">
    <div class="top-bar-left">
      <h4> <span class="logo-read">Read</span><span class="logo-boot">Boot</span></h4>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li class="nav-li"><a href="/">Home</a></li>
        <li class="nav-li"><a href="atoms">Atoms</a></li>
        <li class="nav-li"><a href="about">About</a></li>
        <li class="nav-li"><a href="contact">Contact</a></li>
      </ul>
    </div>
  </nav>
