<% include partials/header %>

  <div class="">

        <h1 class="text-center title"><span class="logo-read">Read</span><span class="logo-boot">Boot</span> Patter Lab</h1>
  </div>
  <section class="wrap">
  <div class="grid-4">
    <div class="">
      <button type="button" name="button" class="button button-primary">Atoms</button>
    </div>
    <div class="">
      <button type="button" name="button" class="button button-primary">Molecules</button>
    </div>
    <div class="">
      <button type="button" name="button" class="button button-primary">Organisms</button>
    </div>
    <div class="">
      <button type="button" name="button" class="button button-primary">templates</button>
    </div>
  </div>
</section>


<% include partials/footer %>
