body {
  margin: 0;
  padding: 0; }

a {
  color: #ec141d; }

.wrap {
  margin: 30px; }

.brand-primary {
  background: #ec141d; }

.brand-secondary {
  background: #070707; }

.black {
  background: #000; }

.white {
  background: #ffff; }

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px; }

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0; }

.grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0; }

.grid-foot {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10em;
  margin: auto;
  padding: 30px 10em; }

.text-center {
  text-align: center; }

.button {
  color: rgba(255, 255, 255, 0.9);
  background-color: gray;
  border-color: #4d4d4d;
  padding: 15px 36px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }
  .button:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #b3b3b3;
    border-color: gray; }

.button-primary {
  color: rgba(255, 255, 255, 0.9);
  background-color: #ec141d;
  border-color: #8e0c11; }
  .button-primary:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #f47278;
    border-color: #ec141d; }

.button-secondary {
  color: rgba(255, 255, 255, 0.9);
  background-color: #070707;
  border-color: black; }
  .button-secondary:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #3a3a3a;
    border-color: #070707; }

.button-game-playsound {
  color: rgba(255, 255, 255, 0.9);
  background-color: blue;
  border-color: #000099;
  height: 5em;
  width: 5em;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-size: 1rem;
  border-radius: 10px; }
  .button-game-playsound:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #6666ff;
    border-color: blue; }

.button-game {
  color: rgba(255, 255, 255, 0.9);
  background-color: gray;
  border-color: #4d4d4d;
  padding: 1em 0;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em; }
  .button-game:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #b3b3b3;
    border-color: gray; }

.button-submit {
  color: rgba(255, 255, 255, 0.9);
  background-color: #ec141d;
  border-color: #8e0c11;
  padding: 1em 1em;
  font-size: 1rem;
  border-radius: 10px; }
  .button-submit:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #f47278;
    border-color: #ec141d; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.div-center {
  text-align: center;
  padding: 30px 0; }

.input-block {
  display: block;
  padding-bottom: 10px; }

.input-center {
  text-align: center;
  padding: 5px 0; }

.input-button {
  text-align: center;
  padding-top: 30px; }

.thumbnail {
  display: inline-block;
  max-width: 100%; }

.style-box {
  border: 1px solid red;
  margin: 10px; }

.color-box {
  color: white;
  border-radius: 3px;
  padding: 0.2em;
  font-size: 120%;
  margin: 10px; }

form {
  margin: auto;
  padding: 1em;
  max-width: 800px; }

.nav-container {
  padding: 0 15px;
  margin: 0 15px;
  display: inline-block; }

.nav-logo {
  text-align: left; }

footer {
  background-color: #070707;
  color: white; }

footer a {
  text-decoration: none; }

.hero-container {
  max-width: 800px;
  padding: 20px; }

.hero-back {
  background-color: white;
  height: 500px; }

/*# sourceMappingURL=app.css.map */
