

@font-face {
font-family: 'Gingham';
src: url('Gingham.woff2') format('woff2')
}

html {
  font-family: 'Gingham', sans-serif;
}

h1 {
  font-variation-settings: "wght" 700, "wdth" 400;
  font-size: 3em;
  margin: 0;
}
h2 {
  font-variation-settings: "wght" 700, "wdth" 400;
  font-size: 2.5em;
  margin: 0;
}

h3 {
  /* font-variation-settings: "wght" 700, "wdth" 400; */
  font-size: 2em;
  margin: 0;
}

h4 {
  /* font-variation-settings: "wght" 700, "wdth" 400; */
  font-size: 1.66em;
  margin: 0;
}

h5 {
  /* font-variation-settings: "wght" 700, "wdth" 400; */
  font-size: 1.33em;
  margin: 0;

}

h6 {
  /* font-variation-settings: "wght" 700, "wdth" 400; */
  font-size: 1em;
  margin: 0;
}

p {
  font-size: 1em;
  margin: 0;
}

.logo-read {
  color: #ec141d;
}

.logo-boot {
  color: #070707;
}

.logo-boot-dark {
  color: rgba(255, 255, 255, .8);
}
