//Buttons mixins
=button-variant($background)
  $color: rgba(255, 255, 255, 0.9)
  $active-background: lighten($background, 20%)
  $border: darken($background, 20%)
  $active-border: darken($active-background, 20%)

  color:              $color
  background-color:   $background
  border-color:       $border
  &:hover
    color:            $color
    background-color: $active-background
    border-color:     $active-border

=button-sizing($btn-padding-y, $btn-padding-x, $font-base, $border-redius)
  padding: $btn-padding-y $btn-padding-x
  font-size: $font-base
  border-radius: $border-redius

// Site buttons

.button
  +button-variant(gray)
  +button-sizing(15px, 36px, $font-base, $border-redius)
  border: none
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px

.button-primary
  +button-variant($brand-primary)

.button-secondary
  +button-variant($brand-secondary)


// Game button

.button-game-playsound
  +button-variant(blue)
  height: 5em
  width: 5em
  border: none
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 30px
  font-size: $font-base
  border-radius: $border-redius

.button-game
  +button-variant(gray)
  +button-sizing(1em, 0, $font-base, $border-redius)
  border: none
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 2em


.button-submit
  +button-variant($brand-primary)
  +button-sizing(1em, 1em, $font-base, $border-redius)
