
// Colors backgrounds

.brand-primary
  background: $brand-primary
  

.brand-secondary
  background: $brand-secondary

// .brand-thrird
//   background: $brand-thrird

// .base-dark
//   background: $base-dark
//
// .base-light
//   background: $base-light
//
// .base-lighter
//   background: $base-lighter

.black
  background: $black

.white
  background: $white
