.grid-4
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  // grid-template-rows: 200px 100px
  // grid-auto-rows: 100px
  grid-gap: 20px

.grid-3
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  // grid-template-rows: 200px 100px
  // grid-auto-rows: 100px
  grid-gap: 20px
  margin: auto
  padding: 0

.grid-center
  display: grid
  justify-content: center
  align-items: center
  margin: 0

.grid-foot
  display: grid
  grid-template-columns: 2fr 1fr 1fr
  grid-gap: 10em
  margin: auto
  padding: 30px 10em
