.align-center
  text-align: center

.align-right
  text-align: right

.div-center
  text-align: center
  padding: 30px 0

.input-block
  display: block
  padding-bottom: 10px

.input-center
  text-align: center
  padding: 5px 0

.input-button
  text-align: center
  padding-top: 30px
