// @font-face
//   font-family: 'Roboto VF'
//   src: url('..fonts/Roboto-VF.woff2') format('woff2-varations')
//   font-weight: 100 900
//   font-stretch: 75% 100%
//   font-style: oblique 0deg 12deg

@font-face
font-family: 'Gingham'
src: url('./source/fonts/Gingham.woff2') format('woff2')


html
  font-family: 'Gingham', sans-serif
  padding: 80px


h1
  /* font-variation-settings: "wght" 700, "wdth" 400; */
  font-size: 4em
  margin: 0

h2
  /* font-variation-settings: "wght" 700, "wdth" 400; */
  font-size: 3.5em
  margin: 0


h3
  /* font-variation-settings: "wght" 700, "wdth" 400; */
  font-size: 3em
  margin: 0


h4
  /* font-variation-settings: "wght" 700, "wdth" 400; */
  font-size: 2.5em
  margin: 0


h5
  /* font-variation-settings: "wght" 700, "wdth" 400; */
  font-size: 2em
  margin: 0


h6
  /* font-variation-settings: "wght" 700, "wdth" 400; */
  font-size: 1.5em
  margin: 0


p
  h1
    /* font-variation-settings: "wght" 700, "wdth" 400; */
    font-size: 4em
    margin: 0

  font-size: 1em
  margin: 0
